<h1>Deshboard#index</h1>
<p>Find me in app/views/deshboard/index.html.erb</p>
<center><%= button_to "Signout", destroy_user_session_path, method: :delete%></center><center><%= button_to "Signout", destroy_user_session_path, method: :delete%></center>